<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.criteriontech.digidoctormax">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiDoctorMax.NoActionBar"
        tools:targetApi="n">
        <activity android:name=".jitsiVideoCall.VideoCallJitsiActivity"></activity>
        <activity android:name=".jitsiVideoCall.InitVideoCallActivity" />
        <activity android:name=".jitsiVideoCall.VideoCallActivity" />
        <activity android:name=".activity.CallReceiveActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity
            android:name=".fragment.home.DrHomeActivity"
            android:theme="@style/Theme.DigiDoctorMax" />
        <activity android:name=".activity.DashboardActivity" />
        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/Theme.DigiDoctorMax.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.home.ClinicHomeActivity"
            android:theme="@style/Theme.DigiDoctorMax" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/Theme.DigiDoctorMax" />

        <service
            android:name=".utils.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.WakefulBroadcasterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="myReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>